@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Clicker+Script&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 247, 238);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 35px;
}

h1, h2{
    font-family: 'Clicker Script', cursive;
}

.img-rings {
    background-image: url("./assets/ring.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1.names {
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    font-size: 130px;
    padding-top: 30px;
}

h2.names {
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    font-size: 100px;
    margin-top: 70px;
}

main {
    text-align: center;
}



.save {
    padding:20px;
    margin:20px;
}

.invite {
    padding:20px;
}

.counter {
    padding:10px;
    margin:15px;
}

.pictures {
    display: flex;
    opacity: 1;
}

.column {
    float: left;
    flex: 50%;
    padding: 5px;
}
.container {
    background-image: url("./assets/invite3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.footer{
    text-align: center;
}

.footer h7 {
    font-size: 20px;
}
