@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
    font-family: 'Tangerine', cursive;
    font-size: 35px;
}

.img-rings {
    background-image: url("./assets/ring.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1.names {
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    font-size: 130px;
    padding-top: 30px;
}

h2.names {
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    font-size: 100px;
    margin-top: 70px;
}

main {
    text-align: center;
}

.save {
    padding:20px;
    margin:20px;
}

.invite {
    padding:20px;
    margin:15px;
}

.counter {
    padding:20px;
    margin:15px;
}

.pictures {
    display: flex;
}
.column {
    float: left;
    flex: 50%;
    padding: 5px;
  }